* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.game-container {
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

canvas {
    background-color: #222;
    border: 3px solid white;
}

#restartButton {
    display: none;

    position: absolute;
    left: 50%;
    top: 430px;

    transform: translateX(-50%);

    padding: 12px 30px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    border: none;
    border-radius: 8px;
}